<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Transacciones</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body bgcolor = "orange">
        <h1>List de transacciones </h1>

        <ul> 
            {% for transacciones in transaccione %}
            <li>
                {{transacciones.id_transacciones}}
                {{transacciones.id_clientes_producto}}
                {{transacciones.monto}} 
                {{transacciones.id_tipo_transacción}} 
            </li>
            {%endfor%}
        </ul>
        <script src="" async defer></script>
    </body>
</html>